[Unit]
Description=Chaotic Bot background task
Requires=postgresql.service
Wants=network.target lavalink.service
After=network.target lavalink.service

[Service]
Environment=PATH=/home/user/.local/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
WorkingDirectory=/home/user/github/All-Hail-Chaos
ExecStart=/bin/bash /home/user/github/All-Hail-Chaos/startup.sh
User=user
Group=user
Type=simple
Restart=always

[Install]
WantedBy=multi-user.target
